<html>
<head>
    <script language="JavaScript">
        var CONTEXT_ROOT = '{{env.CONTEXT_ROOT}}';
        var UPLOAD_MAX = {{env.UPLOAD_MAX}};
    </script>
</head>
<body>
    CONTEXT_ROOT: {{env.CONTEXT_ROOT}}<br>
    UPLOAD_MAX: {{env.UPLOAD_MAX}}
</body>
</html>